body
{
    margin: 0;
}
#wrapper
{
    height: 100%;
    width: 100%;
}
#current-li
{
    color: rgb(155, 74, 9);
}
#header
{
    margin-bottom: 0;
}
#home-page-image
{
    height: 100%;
    width: 100%;
}
#content
{
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
    margin-top: -4px;
    text-align: center;
}
#main-heading
{
    top: 13%;
    left: 7%;
    position: absolute;
    width: 550px;
}
#nav
{
    float: right;
    position: absolute;
    top: 3%;
    right: 5%;
    letter-spacing: 0.15em;
}
#nav li
{
    display: inline;
    margin-right: 40px;
}
.other-li
{
    text-decoration: none;
    color: black;
}
.other-li:hover
{
    color: rgb(24, 184, 24);
}
#section1 img
{
    width: 32%;
    padding: 5%;
    margin-left: 3%;
    float: left;
}
#section1 p
{
    float: right;
    width: 40%;
    padding-top: 4%;
    font-size: 45px;
    margin-right: 7%;
    line-height: 1.5em;
}
#section2
{
    width: 100%;
    position: relative;
    margin-bottom: -4px;
    letter-spacing: 0.20em;
}
#section2 img
{
    width: 100%;
}
#section2 div
{
    width: 100%;
    text-align: center;
    position: absolute;
    margin-top: 15%;
    font-size: 30px;
    color: rgb(184, 184, 178);
}
#section3
{
    width: 100%;
}
#berlin img
{
    width: 33.33%;
    float: left;
}
#izmir img
{
    width: 33.33%;
    float: left;
}
#tokyo img
{
    width: 33.33%;
    float: left;
}
#section4
{
    padding-bottom: 20px;
    height: 75px;
    clear: both;
    text-align: center;
    background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    background-blend-mode: normal, lighten, soft-light;
    font-size: 30px;
    border-top: 1px solid black;
    letter-spacing: 0.01em;
}
#roll-top
{
    text-decoration: none;
    color: rgb(21, 58, 139);
}

#section4 a
{
    text-decoration: none;
    color: rgb(21, 53, 112);
}
#footer
{
    text-align: center;
    padding: 6px;
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%);
    font-size: 15px;
    word-spacing: 0.10em;
    letter-spacing: 0.10em;
}
#footer a
{
    text-decoration: none;
    color: black;
}